.burger__menu {
  display: none;
}

@media (max-width: 767px) {

  .burger__menu {
    display: block;
    z-index: 2;
    position: relative;
    width: 40px;
    height: 27px;
    cursor: pointer;
  }

  .burger__menu span,
  .burger__menu::before,
  .burger__menu::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $black;
  }

  .burger__menu::before,
  .burger__menu::after {
    content: "";
  }

  .burger__menu::before {
    top: 0;
  }

  .burger__menu::after {
    bottom: 0;
  }

  .burger__menu span {
    top: 50%;
    transform: scale(1) translateY(-50%);
  }

  // Active
  .burger__menu.active span {
    transform: scale(0);
  }

  .burger__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }
  .burger__menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(100%);
  } 
}

@media (max-width: 480px) {
	.burger__menu {
	width: 36px;
	height: 24px;
	}
}