.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 156px;
	column-gap: 15px;

	@media (max-width: 767px) {
		height: 105px;
	}

	@media (max-width: 480px) {
		height: 80px;
	}
}

@media (max-width: 480px) {
	.header__logo {
		width: 150px;
	}
}

.header__logo-link:focus {
	outline: 1px dotted $orange;
}


